<section class="hero is-danger">
  <div class="hero-body">
    <p class="subtitle">
      <a href="/">Bookish</a>
    </p>
    <p class="title">
      <a href="/manage">Manage</a>
    </p>
  </div>
</section>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">Home</a>
    <p class="navbar-item" href="/">></p>
    <a class="navbar-item" href="/manage">Manage</a>
    <a role="button" id="navbar-burger" class="navbar-burger" aria-label="menu" aria-expanded="false" onclick="toggleClass('navbarMenu','is-active');toggleClass('navbar-burger','is-active');">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/">
            <Strong>Back to Home</Strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>


<div class="content p-4">
  <div class="columns">
  <div class="column">
    <p class="is-size-4">Books</p>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Total Copies</th>
        <th>Available to Borrow</th>
        <th>Loaned Out</th>
        <th>Overdue</th>
      </tr>
      </thead>
      <tbody>
      <% @book_data.each do |book| %>

          <tr>
            <th><%= book[:id] %></th>
            <th><%= book[:title] %></th>
            <th><%= book[:author]%></th>
            <th><%= book[:total_copies] %></th>
            <th><%= book[:available] %></th>
            <th><%= book[:loaned_out] %></th>
            <th><%= book[:overdue] %></th>
          </tr>
        <% end %>
        </tbody>

      </table>
  </div>
  </div>
</div>

